.addlvl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.msg {
    width: 50%;
    font-size: 70px;
    font-weight: bold;
}

#flash {
    animation: flash 7s linear infinite;
}

.add_form {
    display: block;
    width: 50%;
}

.add_form p {
    font-size: 22px;
    font-weight: bold;
}

.add_form button {
    background-color: lightgreen;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    height: 100%;
}

.add_form>div {
    margin: 30px;
}

.add_form label {
    display: inline-block;
    width: 90%;
    text-align: start;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}

.add_form input {
    display: inline-block;
    width: 90%;
}

#set_nbre_inps {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#set_nbre_inps>div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#nbr_words{
    width: 50px;
}

#res {
    color: lightgreen;
}
#err {
    color: rgb(234, 63, 63);
}
