@keyframes show {
    from{
        transform: scale(1) ;
    }
    to{
        transform: scale(1.2);
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

body , html , #root{
    background-color: rgb(32, 32, 40);
    height: 100%;
    overflow-x: hidden;
    user-select: none;
}

.container , .App{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tuto {
    backdrop-filter: blur(10px);
}

#game_tuto {
    text-decoration: overline;
    cursor: pointer;
}

.tuto p {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 10px;
}

header {  
    border: 3px solid white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(50%);
}

header p {
    font-size: 70px;
    font-weight: bolder;
    margin: 0;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-bottom: 5p;
}

main>p {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
    background-color: blueviolet;
    padding: 10px;
}
.infos {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

#objective {
    display: flex;
    align-items: center;
    gap: 10px;
}

#warn_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warning {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:10px;
}

#pointer ,#warnin_pointer {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: yellow;
}
#warnin_pointer{
    background-color: red;
}


#span_try , header span {
    opacity: 1;
    animation: fade .5s linear;
}
#span_try {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 5px;
}
#tries {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bolder;
    margin: 15px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#answer {
    width: 90%;
    background-color: transparent;
    border-radius: 10px;
    margin: 20px 0px;
    border: 4px solid white;
}

hr {
    width: 80%;
}

#answer>legend {
    padding: 0px 10px;
    font-weight: bold;
}
#answer>input {
    width: 80%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    color: white;
}

form input {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

article {
    width: 40%;
}

#check {
    background-color: rgb(94, 245, 94);
}

#hint {
    background-color: yellowgreen;
}


#del {
    background-color: rgb(246, 54, 54);
}

#restart {
    background-color: gainsboro;
}

.ops_btns {
    display: grid;
    grid-template-columns: repeat(2 , 150px);
    gap: 10px;
}

.btns{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btns>input{
    background-color: blue;
    width: 70px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    color: white;
    border: 1px solid white;
}
.btns>input:hover{
    background-color: blueviolet;
}

#ans_cont {
    display: flex;
    justify-content: center;
}

ol {
    font-size: 23px;
    font-weight: bolder;
    text-align: start;
}

li {
    color: lightgreen;
}

.prompt , .tuto_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.633);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
}

.prompt>div , .tuto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 400px;
    border: 2px solid;
    background: linear-gradient(to bottom right ,rgb(195, 188, 188) , white 80%);
    color: black;
    padding: 25px 0px;
    border-radius: 10px;
    animation: show .5s linear;
    transform: scale(1.2);
    position: absolute;
    z-index: 10;
    font-weight: bolder;
}
.prompt h1 {
    padding: 0px 20px;
}

.prompt button , .tuto button {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width : 770px) {
    .prompt>div , .tuto {
        height: 200px;
        width: 300px;
    }
    article {
        width: 90%;
    }
}